.intro {
  &__message p {
    position: relative;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.4s ease-in 0.5s, bottom 0.4s ease-in 0.5s;
  }
}

.active .intro  {
  &__message p {
    bottom: 0;
    opacity: 1;
  }
}
