.slider {
  &__item-text  {
    position: relative;
    left: 20px;
    opacity: 0;
  }

  .swiper-slide-active &__item-text {
    transition: opacity 0.4s ease-in 0.6s, left 0.4s ease-in 0.6s;
  }

  .swiper-slide-next &__item-text {
    transition: opacity 0.4s ease-in 0.8s, left 0.4s ease-in 0.8s;
  }

}

.active .slider  {
  &__item-text  {
    left: 0;
    opacity: 1;
  }
}
