.social-block {
  &__toggler::before {
    top: 0;
    left: 0;
    transform: scale(0, 0);
    transform-origin: center;
    transition: all 0.2s ease, transform 0.4s cubic-bezier(.11,.74,.75,1.42) 0.6s;
  }

  &__list {
    transition: all 0.2s ease;
  }

  &__list li:nth-child(1) a {
    margin-top: 10px;
  }

  &__list li:nth-child(2) a {
    margin-top: 20px;
  }

  &__list li:nth-child(3) a {
    margin-top: 30px;
  }

  &__link {
    opacity: 0;
    transition: all 0.2s ease;
  }

  &__link--fb {
    transition-duration: 0.2s;
  }

  &__link--insta {
    transition-duration: 0.5s;
  }

  &__link--vk {
    transition-duration: 0.8s;
  }

  &__toggler:hover + &__list a, &__toggler:focus + &__list a {
    opacity: 1;
    margin-top: 0;
  }

}

.body-loaded .social-block {
  &__toggler:before {
    transform: scale(1, 1);
  }
}
